{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid m-b-1">
  <img src="{{ MEDIA_URL }}{{ image }}" class="img-fluid" alt="Responsive image">
  <div class="form-horizontal">
    <form action="{% url 'reviews:edit_review' review.id %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-danger btn-block" value="Upload">Save
        </button>
    </form>
  </div>
</div>
{% endblock %}
