{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid m-b-1">
  <h1>REVIEW</h1>
  <div class="form-horizontal">
    <form action="{% url 'reviews:new_review' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{image_form|crispy}}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-danger btn-block" value="Upload">Save
        </button>
    </form>
  </div>
</div>
{% endblock %}
