{% extends 'base.html' %}

{% block title %}
<h2>Latest reviews</h2>

<head>
    <title>Latest Reviews</title>
</head>
{% endblock %}

{% block content %}
{% if latest_review_list %}
<div class="container-fluid">
    {% for review, image in latest_review_list %}
    <div class="row m-y-1">
        <div class="col-xs-2 text-xs-center">
          <img src="{{ MEDIA_URL }}{{ image }}" class="img-fluid img-rounded" alt="Responsive image"/>
        </div>
        <div class="col-xs-9 text-xs-center">
            {% if review.wine.producer != review.wine.name %}
                <h5>{{ review.wine.producer}}</h5><br>
                <h6>{{review.wine.vintage }} {{ review.wine.name }}</h6>
            {% else %}
                <h5>{{review.wine.vintage }} {{ review.wine.producer}}</h5>
            {% endif %}
            <p>{{review.wine.appellation }}</p>
        </div>
        <div class="col-xs-1">
          {% if review.rating >= 15 %}
            <h6 class="text-success">{{ review.rating }}/20</h6>
          {% elif review.rating <= 5 %}
            <h6 class="text-danger">{{ review.rating }}/20</h6>
          {% else %}
            <h6>{{ review.rating }}/20</h6>
          {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
