{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>{{wine.vintage }} {{ wine.producer}} {{ wine.name }}</h2>

<h5>{{ wine.review_set.count }} reviews ({{ wine.average_rating | floatformat }} average rating)</h5>
{% endblock %}


{% block content %}
<h3>Recent reviews</h3>

{% if wine.review_set.all %}
<div class="row">
    {% for review in wine.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <!--<img src="{{ review.bottle_shot.url }}" -->
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 20 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this wine yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'reviews:add_review' wine.id %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {{image_form.as_p}}
    {% buttons %}
    <button type="submit" class="btn btn-danger btn-block" value="Upload">
        {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}
