{% extends 'base.html' %}

{% block content %}

<div class="container-fluid"></div>
  <div class="card card-outline-danger">
    <div class="card-block">
      <h4 class="card-title">{{ wine.producer}}</h4>
      <h5 class="card-subtitle text-muted">{{ wine.name }}</h5>
      <h6 class="card-title text-xs-right">{{ review.rating}}/20</h6>
    </div>
    <img src="{{ MEDIA_URL }}{{ image }}" class="img-fluid img-rounded m-x-auto" alt="Responsive image"/>
    <div class="card-block">
      <p class="card-text text-xs-center">{{review.comment}}</p>
    </div>
      <ul class="list-group list-group-flush">
      {% if not wine.secondary_variety%}
        <li class="list-group-item">{{ wine.dominant_variety}}</li>
      {% else %}
        <li class="list-group-item">{{ wine.dominant_variety}}&nbsp;and&nbsp;{{ wine.secondary_variety}}</li>
      {% endif %}
      <li class="list-group-item">{{ wine.region }},&nbsp;{{ wine.country}}</li>
    </ul>
    <div class="card-block">
      <a href="{% url 'reviews:edit_review_form' review.id%}" class="card-link">Edit</a>&nbsp;or&nbsp;
      <a href="{% url 'reviews:delete_review' review.id%}">Delete</a>
    </div>
  </div>
</div>

{% endblock %}
